@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  /* background-color: #121313; */

  /* background-image: radial-gradient(
    circle,
    #1a1a1a,
    #151515,
    #101010,
    #080808,
    #000000
  ); */

  background-image: radial-gradient(
    circle,
    #202020,
    #1a1a1a,
    #141414,
    #0b0b0b,
    #000000
  );

  /* background-image: radial-gradient(
    circle,
    #000000,
    #0b0b0b,
    #141414,
    #1a1a1a,
    #202020
  ); */
}
@media only screen and (min-width: 768px) {
  .rounded-top-corners {
    -moz-border-radius: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
  }
}
